<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>

    <div id="events_original" style="display:none;">
        {% autoescape off %}{{ content }}{% endautoescape %}
    </div>

    <div id="data_scrapped">
    </div>
    <script>

    </script>
    <script>
    $("#data_scrapped").append($(".events upcoming"));
    </script>
</body>
</html>